<form method="post" action="{{ path('app_annuary_delete', {'id': annuary.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annuary.id) }}">
    <button class="btn">Delete</button>
</form>
