<form method="post" action="{{ path('app_Seo_delete', {'id': Seo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Seo.id) }}">
    <button class="btn">Delete</button>
</form>
